Dictionaries
# DICTIONARIES

1. **Introduction to Dictionaries**
2. **Creating Dictionaries**
3. **Accessing Dictionary Elements**
4. **Modifying Dictionary Elements**
5. **Dictionary Methods**
6. **Iterating Over Dictionaries**
7. **Nested Dictionaries**
8. **Dictionary Comprehensions**
9. **Practical Examples and Common Errors**

**Introduction to Dictionaries**  
Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

In [1]:
# #creating dictionaries 
# [] = empty list
# () = empty tuples
# {} = empty disctionary 

empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict = dict()
empty_dict

{}

In [5]:
student = {"name" : "vivek", "age" : 24 ,"grade" : "lol"}
print(student)
print(type(student))

{'name': 'vivek', 'age': 24, 'grade': 'lol'}
<class 'dict'>

In [21]:
# Single keys are always used

student = {"name" : "vivek", "age" : 24 ,"grade" : "lol"}
print(student)

{'name': 'vivek', 'age': 24, 'grade': 'lol'}

In [39]:
# Accessing dictionary elements 
student = {"name" : "vivek", "age" : 24 ,"grade" : "lol"}
print(student["grade"])
print(student["age"])

# Accessing using get() method provided by distionary
print(student.get('name'))
print(student.get('last_name'))
print(student.get('last_name', "NA"))

lol
24
vivek
None
NA

In [40]:
# Modifying dictionary elements 
# Dictionary are mutable, so you can add , update or delete elements 

print(student)

{'name': 'vivek', 'age': 24, 'grade': 'lol'}

In [41]:
student["age"]=33   # updated the value for the key
print(student)
student["address"]= "india"  # added a new key and value 
print(student)

{'name': 'vivek', 'age': 33, 'grade': 'lol'}
{'name': 'vivek', 'age': 33, 'grade': 'lol', 'address': 'india'}

In [42]:
# Delete the key

del student['grade']
print(student)

{'name': 'vivek', 'age': 33, 'address': 'india'}

In [43]:
# Dictionary methods 

keys = student.keys()  # GET all the keys
print(keys)
values=student.values() # GET all the values
print(values)

items = student.items() # GET all key value paires 
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['vivek', 33, 'india'])
dict_items([('name', 'vivek'), ('age', 33), ('address', 'india')])

In [44]:
# Shallow copy 

student_copy = student
print(student)
print(student_copy)

student["name"] = "ritika"

print(student)
print(student_copy)

{'name': 'vivek', 'age': 33, 'address': 'india'}
{'name': 'vivek', 'age': 33, 'address': 'india'}
{'name': 'ritika', 'age': 33, 'address': 'india'}
{'name': 'ritika', 'age': 33, 'address': 'india'}

In [ ]:
student_copy1 = student.copy()  # Shallow copy
print(student)
print(student_copy)
print(student_copy1)

{'name': 'ritika', 'age': 33, 'address': 'india'}
{'name': 'ritika', 'age': 33, 'address': 'india'}
{'name': 'ritika', 'age': 33, 'address': 'india'}

In [47]:
student["name"] = "vivek"
print(student)
print(student_copy)
print(student_copy1)

{'name': 'vivek', 'age': 33, 'address': 'india'}
{'name': 'vivek', 'age': 33, 'address': 'india'}
{'name': 'ritika', 'age': 33, 'address': 'india'}

In [49]:
# Iterating over dictionaries 
# we can use loops to iterate over dictionaries, keys, values or items 

# iterating over keys 
for key in student.keys():
    print(key)

name
age
address

In [51]:
# iterating over values 
for value in student.values():
    print(value)

vivek
33
india

In [52]:
# iterate over key value pairs 

for key,values in student.items():
    print(f"{key}:{value}")

name:india
age:india
address:india

In [62]:
# nested dictionaries 

students = {
    "student1" : {"name" : "krish", "Age" : 32, "grade" : "A"},
    "student2" : {"name" : "vivek", "Age": 24, "grade" : "C"},
    "student3" : {"name" : "ritika", "Age": 26 ,"grade" : "A"},
    "student4" : {"name" : "gian", "Age": 22, "grade" : "B" },
    "student5" : {"name" : "aliv", "Age": 28, "grade" : "D"}
}

print(students)

{'student1': {'name': 'krish', 'Age': 32, 'grade': 'A'}, 'student2': {'name': 'vivek', 'Age': 24, 'grade': 'C'}, 'student3': {'name': 'ritika', 'Age': 26, 'grade': 'A'}, 'student4': {'name': 'gian', 'Age': 22, 'grade': 'B'}, 'student5': {'name': 'aliv', 'Age': 28, 'grade': 'D'}}

In [63]:
# Access nested dictionary elements 

print(students["student1"]["name"])
print(students["student1"]["Age"])
print(students["student2"]["name"])
print(students["student4"]["name"])

krish
32
vivek
gian

In [64]:
students.items()

dict_items([('student1', {'name': 'krish', 'Age': 32, 'grade': 'A'}), ('student2', {'name': 'vivek', 'Age': 24, 'grade': 'C'}), ('student3', {'name': 'ritika', 'Age': 26, 'grade': 'A'}), ('student4', {'name': 'gian', 'Age': 22, 'grade': 'B'}), ('student5', {'name': 'aliv', 'Age': 28, 'grade': 'D'})])

In [67]:
# Iterating over nested dictionaries 
for student_id,student_info in students.items():
    # print(f"{student_id} : {student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

name:krish
Age:32
grade:A
name:vivek
Age:24
grade:C
name:ritika
Age:26
grade:A
name:gian
Age:22
grade:B
name:aliv
Age:28
grade:D

In [69]:
# Dictionary comprehension 
squares = {x**3:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 8: 4, 27: 9, 64: 16}

In [70]:
# Conditional dictionary comprehension 

evens = { x:x**2 for x in range(10) if x%2 == 0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [71]:
# Practical examples 

# Use a dictionary to count the frequency of elements in list 

numbers = [1,1,1,1,3,3,3,5,2,2,2,2,5,6,8,9,19]

frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number] = 1
print(frequency)

{1: 4, 3: 3, 5: 2, 2: 4, 6: 1, 8: 1, 9: 1, 19: 1}

In [73]:
# Merge 2 dictionaries into one 

dict1 ={"a":1, "b" : 2}
dict2 ={"b":3, "v" :4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'v': 4}