# Tuples

## Video Outline

1. **Introduction to Tuples**
2. **Creating Tuples**
3. **Accessing Tuple Elements**
4. **Tuple Operations**
5. **Immutable Nature of Tuples**
    - Example: `my_tuple = (1, 2, 3)`
6. **Nested Tuples**
7. **Practical Examples and Common Errors**

---

## Introduction to Tuples

**Explanation:**  
Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
#creating a tuple 
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst= list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers = tuple([1,2,3,4,5,6])
print(f"list converted to tuple", numbers)

list converted to tuple (1, 2, 3, 4, 5, 6)

In [ ]:
list((1,2,3,4,5,6))

# type conversion

[1, 2, 3, 4, 5, 6]

In [6]:
mixed_tuple=(1,"helloaw",3.5,True)
mixed_tuple

(1, 'helloaw', 3.5, True)

In [7]:
# Accessing tuple elements 

numbers

(1, 2, 3, 4, 5, 6)

In [11]:
print(numbers[-1])
print(numbers[-3:])

6
(4, 5, 6)

In [15]:
## Tuple operations 

concationation_tuples = numbers+mixed_tuple

print(concationation_tuples)

(1, 2, 3, 4, 5, 6, 1, 'helloaw', 3.5, True)

In [17]:
mixed_tuple*3
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [18]:
# Immutable nature of tuples 
# tuples are immutable, meaning their elements cannot be changed once assigned 

lst2=[1,2,4,5,6,7]
print(lst2)
lst2[3]="lol"
print(lst2)

[1, 2, 4, 5, 6, 7]
[1, 2, 4, 'lol', 6, 7]

In [19]:
tlst=(1,2,3,5,6,7)
print(tlst)
tlst[3]="lol"
print(tlst)

(1, 2, 3, 5, 6, 7)

TypeError: 'tuple' object does not support item assignment

In [20]:
numbers

(1, 2, 3, 4, 5, 6)

In [23]:
# tuple methods

print(numbers.count(1))
print(numbers.index(5))

1
4

In [24]:
# Packing and unpacking tuples 

packed_tuple = 1,"hello",3.4
print(packed_tuple)

(1, 'hello', 3.4)

In [25]:
# Unpacking a tuple

a,b,c= packed_tuple
print(a)
print(b)
print(c)

1
hello
3.4

In [26]:
# Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [35]:
# Nested tuples

lst=([1,2,3,5],[6,3,7],["hello","lol",3.3])
lst[0][:3]

[1, 2, 3]

In [40]:
# Iterating over nested tuples 

for sub_tuple in lst:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3 5
6 3 7
hello lol 3.3

## Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.